development:
  adapter: postgresql
  encoding: unicode
  database: TaskManager_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: TaskManager_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: TaskManager_production
  pool: 5
