<h1>Listing stories</h1>

<table id="list_stories">
  <tr>
    <th>Name</th>
    <th>Text</th>
    <th>Reciver ID</th>
    <th>Sender ID</th>
    <th>State</th>
    <th></th>
  </tr>

  <%= render @stories  %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
